@model PPMMvc.Models.EmployeeToProject

@{
    ViewData["Title"] = "Create";
}

<h1>EmployeeToProject</h1>

<h4>EmployeeToProject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label> Projects
                @Html.DropDownList("ProjectId", ViewData["projects"] as SelectList)
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label> employees
                @Html.DropDownList("EmployeeName", ViewData["employees"] as SelectList)
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
